.template-eleve-list-row{
  overflow: hidden;
  padding: 15px;
}

.template-eleve-list-row:after; .template-eleve-list-row:before{
  content : "";
  display:block;
  clear: both;
  height: 1px;
  width: 100%;
}

.template-eleve-list-row .template-image{
  background-size: cover;
  background-position: center center;
  width: 100px;
  padding-top: 100px;
  border-radius: 100%;
  float: left;
  margin-right: 15px;
}

.template-eleve-list-row .template-content-wrapper{
  float: left;
}

.hidden{ display: none; }
