<%= require("./templates/header.ejs")() %>

<!-- Introduction -->
<div class="lvl-1 col-xs-12 content-container background-white rounded box-shadow margin-vertical padding">
  <%= require("./content/introduction.ejs")() %>

  <!-- Git qu'est-ce-que c'est -->
  <%= require("./content/git-qu-est-ce-que-c-est.ejs")() %>
</div>
<!-- /Introduction -->

<!-- Installer Git  -->
<div class="lvl-1 col-xs-12 content-container background-white rounded box-shadow margin-vertical padding">
  <%= require("./content/installer-git-sur-votre-machine.ejs")() %>
</div>
<!-- /Installer Git  -->

<!-- Initialiser Git  -->
<div class="lvl-1 col-xs-12 content-container background-white rounded box-shadow margin-vertical padding">
  <%= require("./content/initialiser-git-dans-vos-projets.ejs")() %>
</div>
<!-- /Initialiser Git  -->

<!-- Initialiser   -->
<div class="lvl-1 col-xs-12 content-container background-white rounded box-shadow margin-vertical padding">
  <h3 id="les-notions-de-base-de-git">Les notions de base de Git</h3>
  <blockquote>
    <p>à rédiger</p>
    <ul>
      <li>commit</li>
      <li>push</li>
      <li>Pull / fetch</li>
      <li>Rebase</li>
    </ul>
  </blockquote>
</div>
<!-- /Initialiser  -->

<!-- Interagir avec un dépôt Git  -->
<div class="lvl-1 col-xs-12 content-container background-white rounded box-shadow margin-vertical padding">
  <h3 id="interagir-avec-un-depot-git">Interagir avec un dépôt Git</h3>
  <%= require("./content/qu-est-ce-qu-un-depot-git.ejs")() %>
  <%= require("./content/travailler-avec-un-depot-git-distant-remote.ejs")() %>

  <div class="padding-left">
    <%= require("./content/vous-commencez-un-nouveau-projet-soit-vous-avez-deja-cree-votre-projet-mais-n-avez-pas-encore-ajoute-de-depot-git-distant.ejs")() %>

    <%= require("./content/le-projet-sur-lequel-vous-voulez-travaillez-existe-deja-sur-un-depot-git-distant-et-vous-souhaitez-le-recuperer-sur-votre-machine.ejs")() %>
  </div>
</div>
<!-- /Interagir avec un dépôt Git -->

<!-- Les commandes Git de bases -->
<div class="lvl-1 col-xs-12 content-container background-white rounded box-shadow margin-vertical padding">
  <h3 id="les-commandes-git-de-bases">Les commandes Git de bases</h3>
  <p>
    Précédemment vous avez été amenés à entrer plusieurs commandes, et vous allez retrouver certaines d’entre elles dans cette partie du tutoriel.
  </p>
  <%= require("./content/la-commande-git-init.ejs")() %>
  <%= require("./content/la-commande-git-clone.ejs")() %>
  <%= require("./content/les-commandes-git-add-git-commit-et-git-checkout.ejs")() %>
  <%= require("./content/la-commande-git-status.ejs")() %>
</div>
<!-- /Les commandes Git de bases -->
    <blockquote>
    <p>A rajouter</p>
    <p>rm</p>
    <p>mv</p>
    </blockquote>



<%= require("./templates/footer.ejs")() %>
