<h1>Affichage des variables</h1>
<ul>
  <li><b>Ma variable simple :</b> {{ maVariable }}</li>

  <li><b>Affichage d'une proriété d'un objet :</b> {{ monObjet.prenom }}</li>

  <li><b>Affichage d'un index d'un tableau :</b> {{ monTableau[0] }}</li>

  <li><b>Concaténation de deux valeurs :</b> {{ monObjet.prenom ~ " " ~ monObjet.nom }}</li>

  <li>Conversion du format d'une date avec un filtre : {{ maDateISO }} --> {{ maDateISO | date('d/m/Y') }}</li>
</ul>
