<h1>Boucles et conditions :</h1>

<h2>Condition</h2>
<!-- au lieu d'utiliser === pour la comparaison stricte il faut utiliser "is same as('{VALUE}')" -->
{% if tailleDemandee is defined and tailleDemandee is same as("XXL") %}
<p>Désolé, il ne me reste plus de t-shirt en XXL</p>
{% else %}
<p>Voici le t-shirt demdandé, en taille {{ tailleDemandee }} comme convenu.</p>
{% endif %}

<h2>Boucles</h2>
<p>Tailles :</p>
<ul>
{% for taille in taillesAuthorisees %}
  <li>
    {{ taille }}
  </li>
{% endfor %}
</ul>
