<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Git</title>
  <meta name="description" content=""/>

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700|Poppins:400,500" rel="stylesheet">

  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="main.css"/>
</head>

<body>
  <div class="container">
    <div class="row">
