<h4 id="git-qu-est-ce-que-c-est">Git, qu&#39;est-ce-que c&#39;est ?</h4>

<p>Git est sûrement le <strong>logiciel de versionnage le plus utilisé</strong>, que ce soit pour des projets personnels, en entreprise, etc… ce qui explique sa forte popularité, et le fait qu&#39;on ait déjà sûrement du vous rabâcher les oreilles avec cette fameuse notion de versioning.</p>
<p>Mais alors Git, qu’est-ce que c’est ? Eh bien pour faire court, Git est un outil qui va vous permettre d’<strong>historiser toutes les modifications effectuées sur les fichiers d’un projet</strong>, ce qui va vous permettre, par extension, de pouvoir <strong>revenir en arrière après avoir provoqué un bug bloquant</strong>, ou bien encore pouvoir voir quelles lignes de codes ont été modifiées entre deux sauvegardes et en quoi consistent ces modifications.</p>
<div class="lvl-0">
<p>Rien que cette fonctionnalité vous semble déjà bien utile et ô combien prometteuse, qui sait ? peut-être que Git vous permettra enfin d’arrêter de vous arracher les cheveux toute la nuit durant suite à une mauvaise manipulation ?</p>
</div>
<p>Outre cette historisation, Git possède d’autres atouts dans sa manche. Pour commencer, il faut savoir que Git est à l’origine un système de versionnage <strong>local</strong>. C’est-à-dire que vous allez avoir une historisation de votre projet directement sur votre machine.
Mais imaginons que votre amour pour le café vous amène (encore) à racheter un PC pour remplacer celui tombé au combat lors de la dernière séance de rush avec votre tasse posée sur le bureau, qu’advient-il de votre projet ? Eh bien malgré le fait que celui-ci soit historisé et sauvegardé, il n&#39;était sauvegardé que sur votre machine, si vous perdez les données, pas de magie, malheureusement &quot;Salut mon pote&quot; comme disait l’autre.</p>
<p><div class="tenor-gif-embed" data-postid="11860686" data-share-method="host" data-width="100%" data-aspect-ratio="1.7777777777777777"><a href="https://tenor.com/view/salut-mon-pote-michel-drucker-gif-11860686">SALUT MON POTE GIF</a> from <a href="https://tenor.com/search/salutmonpote-gifs">Salutmonpote GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script></p>
<p>Heureusement, les développeurs étant les personnes les plus formidables au monde, la communauté à pensé à tout ! Par le biais de services gratuit (oui, vous pourrez “investir” dans cette souris RGB hors de prix que vous convoitez depuis si longtemps), vous pouvez sauvegarder votre projet dans le cloud. On pourra notamment citer l’incontournable <a href="https://github.com/">GitHub</a>, mais aussi <a href="https://gitlab.com">GitLab</a> ou encore <a href="https://bitbucket.org">BitBucket</a>.</p>
<p>Quoi ? Vous ne voulez pas que votre projet se trimballe n’importe où et tombe entre les mains de méchants capitalistes ? Pas de soucis, là encore Git à LA solution. Si vous vivez à l’âge de pierre et êtes totalement réfractaires à l’internet (déjà que faites-vous là ?), il vous suffirait de copier votre projet contenant le dossier caché <code>[nom_projet]/.git/</code> situé à sa racine vers une clé usb ou autre, pour pouvoir accéder à tout l’historique des versions et pouvoir interagir avec Git. Enfin dans l’hypothèse où vous seriez assez fous pour ça.
Sinon on ne saurait trop vous proposer d’héberger vous même votre propre serveur de dépôt Git, <a href="https://about.gitlab.com/pricing/#self-managed">comme propose de le faire GitLab</a>. Si vous n’êtes pas très adroit avec le réseau, ne vous en faites pas, de nombreux NAS vous proposent d’installer un serveur Git via une interface graphique.</p>
<p>Qui plus est, Git vous permet de travailler en équipe. Avec ce stockage dans le cloud, vous pouvez synchroniser vos fichiers avant chaque séance de travail, et les sauvegarder en ligne à la fin. Vos collègues pourront donc télécharger vos dernières modifications et voir quelles modifications vous avez effectuées. Des outils intégrés à Git sont mêmes conçus spécialement pour le travail en équipe, comme c&#39;est par exemple le cas de l&#39;intégration continue.</p>
<div class="lvl-0">
<p>Bien, suis-je parvenu à attirer votre attention et susciter une certaine envie d’apprendre le versioning ? Parfait, vous allez donc pouvoir commencer à souffrir.</p>
</div>
<p>Enfin précisons que Git est un outil initialement conçu en lignes de commandes, et qui n’est donc pas forcément facile à prendre en main pour des initiés ou des personnes allergiques à la ligne de commande. Heureusement pour vous, il existe des interfaces graphiques pour gérer vos projet, mais nous y reviendrons plus tard.</p>
