<h3 id="initialiser-git-dans-vos-projets">Initialiser Git dans vos projets</h3>
<p>Bien, maintenant que nous avons installer Git, il faut maintenant apprendre à s&#39;en servir. Pour initialiser Git, ce n&#39;est vraiment pas très compliqué. Que votre dossier de projet soit vide ou contienne déjà des fichiers, il vous suffit dans tous les cas de vous placer dans votre dossier de projet via un terminal et de taper la commande <code>git init</code>. Plutôt simple non ? Cependant, à l&#39;heure actuelle, <strong>votre projet n&#39;est versionné qu&#39;en local</strong>, mais plus pour longtemps.</p>
