<h3 id="installer-git-sur-votre-machine">Installer Git sur votre machine</h3>
<p>Après cette brève introduction à Git nous allons pouvoir commencer ! Pour suivre ce tutoriel voici ce dont vous allez avoir besoin d&#39;installer Git :</p>
<ul>
  <li>Sous Windows : il va falloir installer un logiciel vous permettant d&#39;exécuter les commandes Git (comme par exemple <a href="https://gitforwindows.org/">GitForWindows</a> ou encore se contenter d&#39;<a href="https://git-scm.com/download/win">installer Git</a>)</li>
  <li>Sous Linux et Mac OS : vous n’avez rien à faire, tout est déjà installé et les commandes sont utilisables directement dans votre terminal.</li>
</ul>
