<h3 id="introduction">Introduction</h3>
<p>Aujourd’hui, vous allez apprendre les bases de Git. Autrement dit, vous serez en mesure de maîtriser des notions simples telles que la création d’un projet sous Git, jusqu’à d&#39;autres plus compliquées comme par exemple la gestion des différentes versions. Mais ne nous emballons pas, commençons par le commencement.</p>
