<h4 id="la-commande-git-init">La commande <code>git init</code></h4>
<p><code>git init</code>, comme elle le laisse sous-entendre, permet d&#39;<strong>initialiser Git dans un projet</strong>. En d&#39;autres termes, vous allez ajouter Git à votre projet.</p>
