<h4 id="la-commande-git-status">La commande <code>git status</code></h4>
<p>Cette commande est elle aussi très importante. Elle vous permet de voir quelles modifications vous avez apporter à votre projet (ajout/création, modification, suppression), et surtout de voir si ces modifications sont <em>stagées</em> ou non. C&#39;est-à-dire de savoir si elles font actuellement partie des modifications enregistrée dans le commit en attente ou non.</p>
