<h5 id="le-projet-sur-lequel-vous-voulez-travaillez-existe-deja-sur-un-depot-git-distant-et-vous-souhaitez-le-recuperer-sur-votre-machine">
  Le projet sur lequel vous voulez travaillez existe déjà sur un dépôt Git distant et vous souhaitez le récupérer sur votre machine
</h5>
<p>Rien de plus simple, une commande existe déjà : <code>git clone</code>. En utilisant cette commande, vous allez être à même de copier tout le contenu d&#39;un dépôt Git distant directement dans un dossier. Petit bonus à la prime, vous récupérerez automatiquement la configuration du dépôt en passant par <code>git clone</code>, ce que vous n&#39;auriez pas en téléchargeant simplement l&#39;archive du projet au format .zip sur le site.</p>
<p>Pour utiliser <code>git clone</code>, rien de plus simple : précisez simplement l&#39;URL du dépôt que vous souhaitez récupérer :</p>
<pre><code>git clone https://gitlab.com/[_VotreUsername_]/[_NomDeVotreDepot_].git</code></pre>
