<h4 id="les-commandes-git-add-git-commit-et-git-checkout">Les commandes <code>git add</code> , <code>git commit</code> et <code>git checkout</code></h4>
<p>Vous allez devoir utiliser ces commandes tout au long de votre projet.</p>
<ul>
<li><p><code>git add</code> permet d’ajouter à votre commit de nouveaux fichiers.</p>
</li>
<li><p><code>git commit</code> permet de valider votre <em>commit</em>.</p>
<p>Pour être soumis, un commit a besoin d&#39;avoir des modifications qui lui sont attachées, ou <em>stagées</em>. Pour toutes les ajouter, vous pouvez utiliser <code>-a</code> qui ajoutera à votre <em>commit</em> toutes les modifications qui vous avez apporté à votre projet.</p>
<p>Il est possible d&#39;y ajouter une description en utilisant l&#39;argument <code>-m &quot;[_DESCRIPTION_]</code>.</p>
<p>Ainsi, si vous taper <code>git commit -a -m &quot;Mes nouvelles modifications&quot;</code>, vous créerez un nouveau <em>commit</em> comportant toutes vos modifications et avec le titre &quot;Mes nouvelles modifications&quot;.</p>
</li>
<li><p><code>git checkout</code> vous offre la possibilité de revenir sur des versions précédentes de votre projet. Pour l&#39;utiliser, vous pouvez taper <code>git  checkout [_NOM_COMMIT_]</code>.</p>
</li>
</ul>
