<h4 id="qu-est-ce-qu-un-depot-git">Qu&#39;est-ce qu&#39;un dépôt Git ?</h4>
<p>Eh bien, comme son nom l&#39;indique, c&#39;est là que vous allez déposer votre projet sous Git. C&#39;est ce dépôt qui va pouvoir accueillir votre projet et permettre de le partager avec votre équipe notamment.</p>
