<h4 id="travailler-avec-un-depot-git-distant-remote">Travailler avec un dépôt Git distant (<em>remote</em>)</h4>
<p>Là où les choses se compliquent (vraiment de peu), c&#39;est lorsqu&#39;il faut interagir avec votre dépôt. Pour ce faire, vous pouvez globalement vous retrouver dans deux cas majeurs :</p>
