<h5 id="vous-commencez-un-nouveau-projet-soit-vous-avez-deja-cree-votre-projet-mais-n-avez-pas-encore-ajoute-de-depot-git-distant">Vous commencez un nouveau projet, soit vous avez déjà créé votre projet mais n&#39;avez pas encore ajouté de dépôt Git distant</h5>
<p>Auquel cas, après avoir passé votre projet sous Git via la commande <code>git init</code>,  vous allez devoir ajouter à votre projet à dépôt distant (<em>remote</em>). Dans le cas où nous utiliserions GitLab pour ce projet, il faudrait suivre les étapes suivantes :</p>
<ul>
  <li><p>Se rendre sur <a href="https://gitlab.com">GitLab</a> et se connecter/créer un compte.</p>
  </li>
  <li><p>Créer un nouveau projet</p>
  </li>
  <li><p>Copier l&#39;URL du dépôt Git se trouvant sur la page du projet. Elle devrait ressembler à ceci : <a href="https://gitlab.com/%5B_VotreUsername_%5D/%5B_NomDeVotreDepot_%5D.git">https://gitlab.com/[_VotreUsername_]/[_NomDeVotreDepot_].git</a></p>
  </li>
  <li>
    <p>Via le terminal, nous exécuterions les commandes suivantes dans le dossier de notre projet :</p>
    <pre><code>git init
      git remote add origin https://gitlab.com/[_VotreUsername_]/[_NomDeVotreDepot_].git
      git add .
      git commit -m &quot;Mon premier commit&quot;
      git push -u origin master</code></pre>
    </li>
  </ul>
