<ion-view view-title="{{ viewTitle }}">

  <!-- Header -->
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <!-- /Header -->

  <!-- Content -->
  <ion-content>

    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 padding-vertical">

          <h1>Git</h1>
          <p>Apprendre rapidement les bases de Git</p>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <a ui-sref="app.learn" class="button button-dark button-block">Commencer</a>
            </div>
            <div class="col-xs-12 col-md-6">
              <a ui-sref="app.cheatSheet" class="button button-outline button-dark button-block">Les commandes de bases</a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
             <a href="https://arthur-eudeline.github.io/git-cs2i/eudeline-git-cs2i.apk" download="eudeline-git-cs2i.apk" class="button button-outline button-dark button-block"> <i class="icon ion-social-android"></i> Télécharger l'application Android</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </ion-content>
  <!-- /Content -->

</ion-view>
