<form method="post" action="{{ path('task2_delete', {'id': task2.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task2.id) }}">
    <button class="btn">Delete</button>
</form>
