{% extends 'base.html.twig' %}

{% block title %}Edit Task2{% endblock %}

{% block body %}
    <h1>Edit Task2</h1>

    {{ include('task2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('task2_index') }}">back to list</a>

    {{ include('task2/_delete_form.html.twig') }}
{% endblock %}
