{% extends 'base.html.twig' %}

{% block title %}Task2 index{% endblock %}

{% block body %}
    <h1>Task2 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Due_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task2 in task2s %}
            <tr>
                <td>{{ task2.id }}</td>
                <td>{{ task2.title }}</td>
                <td>{{ task2.dueDate ? task2.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('task2_show', {'id': task2.id}) }}">show</a>
                    <a href="{{ path('task2_edit', {'id': task2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task2_new') }}">Create new</a>
{% endblock %}
