{% extends 'base.html.twig' %}

{% block title %}New Task2{% endblock %}

{% block body %}
    <h1>Create new Task2</h1>

    {{ include('task2/_form.html.twig') }}

    <a href="{{ path('task2_index') }}">back to list</a>
{% endblock %}
