{% extends 'base.html.twig' %}

{% block title %}Task2{% endblock %}

{% block body %}
    <h1>Task2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task2.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task2.title }}</td>
            </tr>
            <tr>
                <th>Due_date</th>
                <td>{{ task2.dueDate ? task2.dueDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task2_index') }}">back to list</a>

    <a href="{{ path('task2_edit', {'id': task2.id}) }}">edit</a>

    {{ include('task2/_delete_form.html.twig') }}
{% endblock %}
