{{ form_start(form, {'attr' : {'class' : 'col-12'}}) }}
 <!-- Titre film -->
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body">

      <div class="form-group">
        {{ form_row(form.titre) }}
      </div>

    </div>
  </div>

  <!-- Réalisateur -->
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body">

      <div class="form-group">
        {{ form_row(form.realisateur) }}
      </div>

      <p class="text-right">
        <a href="{{ path('realisateur_new') }}" class="btn btn-default" target="_blank">Créer un nouvel utilisateur</a>
      </p>

    </div>
  </div>

  <!-- Pays -->
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body">

      <div class="form-group">
        {{  form_row(form.pays) }}
      </div>

      <p class="text-right">
        <a href="{{ path('pays_new') }}" class="btn btn-default" target="_blank">Créer un nouveau pays</a>
      </p>

    </div>
  </div>

  <!-- Année de parution -->
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body">

      <div class="form-group">
        {{ form_row(form.annee) }}
      </div>

    </div>
  </div>

  <!-- Synopsis -->
  <div class="card" style="margin-bottom: 30px;">
    <div class="card-body">

      <div class="form-group">
        {{ form_row(form.synopsis) }}
      </div>

    </div>
  </div>

  <div class="row text-right">
    <div class="col">
      <button type="reset" class="btn btn-default">Vider les champs</button>

      <button class="btn btn-primary btn-raised">{{ button_label|default('Enregistrer') }}</button>
    </div>
  </div>

{{ form_end(form) }}
