{% extends 'base.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">


      <h1 class="col-12" style="margin-bottom: 80px;">Modifier {{ film.titre }}</h1>

      {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}

      <p class="text-right">
        <a href="{{ path('film_index') }}" class="btn btn-default">Annuler</a>
      </p>
      {{ include('film/_delete_form.html.twig') }}

    </div>
  </div>
{% endblock %}
