{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <h1>Liste des films</h1>
    </div>
  </div>

  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="card-deck" style="width:100%">

        <div class="card">
          {{ form_start(form) }}
          <div class="card-body">
            <h2 class="card-title">Rechercher un film</h2>

            <div class="form-group">
              {{ form_row(form.search) }}
            </div>
            <div class="form-group">
              {{ form_row(form.filter_realisateur) }}
            </div>
            <div class="form-group">
              {{ form_row(form.filter_pays) }}
            </div>
            <div class="form-group">
              {{ form_row(form.filter_annee) }}
            </div>
            <div class="form-group text-right">
              <a href="{{ path('film_index') }}" class="btn btn-default">Réinitialiser la recherche</a>
              <button type="submit" class="btn btn-primary">Chercher</button>
            </div>
          </div>
          {{ form_end(form) }}
        </div>

      </div>
    </div>
  </div>

  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="card-deck" style="width:100%">
        {% for film in films %}
          <div class="card">

            <div class="card-body">
              <h2 class="card-title">{{ film.titre }}</h2>

              <div class="film-infos card-subtitle mb-2 text-muted">
                <p>
									<span class="date">
										Sortit en {{ film.annee }}
									</span>

                  <span class="realisateur">Réalisé par <b>{{ film.realisateur.prenomNom }}</b></span>

                  <span class="pays">| {{ film.pays.nom }}</span>
                </p>
              </div>

              <div class="film-synopsis card-text">
                <p>
                  {{ film.synopsis }}
                </p>
              </div>

              <p class="text-right">
                <a href="{{ path('film_edit', {'id' : film.id}) }}" class="btn btn-default">
                  Modifier
                </a>

                <a href="{{ path('film_show', {'id' : film.id}) }}" class="btn btn-primary">Voir</a>
              </p>
            </div>


          </div>
        {% else %}
          <div class="card">
            <div class="card-body">
              <p>
                Aucun film trouvé
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
