{% extends 'base.html.twig' %}

{% block title %}Ajout d'un film{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">

      <h1 class="col-12" style="margin-bottom: 80px;">Ajout d'un film</h1>


      {{ include('film/_form.html.twig', {'button_label': 'Créer'}) }}

    </div>
  </div>
{% endblock %}
