{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}

<div class="container" style="padding-bottom: 50px;">
  <div class="row">
    <h1 class="col-12">{{ film.titre }}</h1>

    <p class="text-right col">
      <a href="{{ path('film_index') }}" class="btn btn-default">Retour</a>

      <a href="{{ path('film_edit', {'id': film.id}) }}" class="btn btn-primary">Modifier</a>
    </p>

    <table class="table col-12">
      <tbody>
      <tr>
        <th>Id</th>
        <td>{{ film.id }}</td>
      </tr>
      <tr>
        <th>Titre</th>
        <td>{{ film.titre }}</td>
      </tr>
      <tr>
        <th>Realisateur</th>
        <td>
          {{ film.realisateur.prenomNom }}
        </td>
      </tr>
      <tr>
        <th>Pays</th>
        <td>{{ film.pays.nom }}</td>
      </tr>
      <tr>
        <th>Annee</th>
        <td>{{ film.annee }}</td>
      </tr>
      <tr>
        <th>Synopsis</th>
        <td>{{ film.synopsis }}</td>
      </tr>
      </tbody>
    </table>

  </div>
  {% endblock %}
