<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Arthur Eudeline{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <style>
    #searchform {
      padding: 0.6286em .8575em;
      margin: 0;
    }

    #searchform input {
      padding: 5px 10px;
      background-color: white;
      border-radius: 5px;
      border: solid 1px #eee;
    }

    .float-right {
      float: right;
    }

    .full-width {
      width: 100%;
    }

    .card {
      margin: 15px;
      min-width: 300px;
    }
  </style>

</head>
<body>

<ul class="nav nav-tabs" style="margin-bottom: 80px">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('film_index') }}">Liste des films</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('film_new') }}">Ajouter un film</a>
  </li>
</ul>


    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
  });</script>
</body>
</html>
