<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Arthur Eudeline</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

  <style>
    #searchform{
      padding: 0.6286em .8575em;
      margin: 0;
    }

    #searchform input{
      padding: 5px 10px;
      background-color: white;
      border-radius :5px;
      border: solid 1px #eee;
    }

    .float-right{
      float: right;
    }

    .full-width{
      width: 100%;
    }

    .card{
      margin: 15px;
      min-width: 300px;
    }
  </style>

</head>
<body>

<ul class="nav nav-tabs" style="margin-bottom: 80px">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('film_index') }}">Liste des films</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('film_new') }}">Ajouter un film</a>
  </li>
</ul>